*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.slider{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}
#slideImg{
    width: 100%;
    height: 100%;
    animation: zoom 3s linear infinite;

}
@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    15%{
        transform: scale(1);
    }
    85%{
        transform: scale(1);
    }
    0%{
        transform: scale(1.3);
    }
}

.overlay{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    position: absolute;
    top: 0;

}
.navbar{
    width: 50%;
    display: flex;
    align-items: left;
    margin: 30px auto;
    margin-left: 70px;
    

}
.logo{
    flex-basis: 15%;
}
.logo img{
    width: 170px;
    cursor: pointer;
}
.menu-icons{
    flex: 1;
    align-items: center;
    text-align: right;
    margin-right: -850px;
}
.menu-icons img{
    width: 85px;
    margin-left: 25px;
    cursor: pointer;
}
.button_k{
    width: 30px;
    text-align: center;
    color: #fff;
    margin: 0 10px;
}
.cont{
    width: 60%;
    margin: 160px auto 0;
    text-align: center;
    color: #fff;

}
.cont h1{
    font-size: 60px;
    
}
.cont h3{
    width: 80%;
    margin: 20px auto 100px;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    margin: 0 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fd5050;
    background: #fd5050;
    transition: background 0.5s;
}
button:hover{
    background: transparent;
    border: 2px solid #fff;

}
.btn-2{
    border: 2px solid #fff;
    background: transparent;
}
.btn-2:hover{
    border: 2px solid #fd5050;
    background:  #fd5050;

}
.header
{
    padding-top: 20;
    text-align: center;
    color: #fff;
}
.header h1
{
    padding-top: 180px;
    padding-bottom: 0px;
    font-size: 75px;
}
.header p
{
    margin: 18px 0px;
}
.input-group
{
    width: 90%;
    max-width: 500px;
    border-radius: 30px;
    background: #fff;
    margin: auto;
    padding: 2px;
}
.form-control
{
    border: 0 !important;
    border-radius: 30px !important;
    margin: 2px;
    box-shadow: none !important;
}
.input-group-text
{
    width: 100px;
    background-image:linear-gradient( rgb(37, 11, 11)) ;
    border: 0 !important;
    color: #fff;
    padding: 0 25px;
    border-radius: 30px !important;
    box-shadow: none !important;
}
/*features*/
.features
{
   background-color:rgb(0, 0, 0);
   color:white;
   
    padding: 100px 0;
}
h1
{
    text-align: center;
    font-weight: 800;
    padding-bottom: 30px;
}
.feature-img img
{
    width: 100%;
}
.feature-img
{
    position: relative;
}
.ratings
{
    padding:3px;
    float: right;
    background:#fff;
    bottom: -1px;
    right: 0;
    position: absolute;
}
.features .fa
{
    font-size: 15px;
    color: #ff5722;
}
.feature-details
{
   padding: 20px;
   text-align: justify;

}
.feature-details h4
{
    font-weight: 600;
    margin-top: 20px;
}
.feature-details  .fa
{
   margin-right: 15px; 
}
.feature-box
{
    box-shadow: 0 0 10px 1px rgba(37, 73,214, 0.18);
    margin-bottom: 30px;
    background-color: rgb(34, 34, 34);
}
.gallery
{
    padding: 100px 0;
    background: #2c2c2c;
}
.gallery h1
{
    color: #fff;
}
.gallery-box img
{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.gallery-box img:hover
{
    transform: scale(1.1);
}
.gallery-box h4
{
    display: block;
    color: #fff;
    text-shadow: -2px 2px 2px #000;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    top: 50;
    left: 50%;
    transform: translate(-50%,-50%);
}
.gallery-box
{
    position: relative;
    margin-bottom: 30px;
}
.banner
{
    height: 80%;
    background-image: url(theater\ images/banner3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 14%;
}
.banner-highlights
{
    padding: 70px 0;
    background:rgba(83, 82, 82, 0.801);
    text-align: center;
    color: #fff;
}
.booking-btn
{
    width: 120px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 50px;
    background: transparent;
    color: white;
    margin-top: 20px;
}
.users-feedback
{
    padding: 100px 0; 
    background:black;
}
.users-feedback h1
{
    color: #fff;
}
.user-review
{
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2);
    background: #fff;
    padding-bottom: 50px;
}
.user-review p
{
    padding: 50px 10px 10px 10px;

}
.users-feedback img
{
   width: 60px;
   height: 60px;
   border-radius: 50%;
   position: relative;
   margin: -30px 0 20px 40%;
}
.user-review p::before
{
    content: '\201d';
    display: block;
    position: absolute;
    font-size: 100px;
    color: #6495ed;
    font-family: sans-serif;
    left: 44%;
    top: -20px;
}
